:root {
    --dark-primary-color: #455A64;
    --default-primary-color: #607D8B; 
    --light-primary-color: #CFD8DC;
    --text-primary-color: #FFFFFF;
    --accent-color: #448AFF;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --divider-color: #BDBDBD;

    --font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    font-family: var(--font-main);
    font-size: 18px;
    background-color: var(--light-primary-color);
    color: var(--primary-text-color);
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--dark-primary-color);
    color: var(--text-primary-color);
    box-shadow: 0 5px 10px gray;
}

.header__title {
    margin: 0;
    padding: 0.5em;
    font-size: 2em;
    line-height: 1em;
    white-space: nowrap;
    transition: 500ms;
}

.header__title_narrow {
    font-size: 1.5em !important;
}

.sticky + .page {
    padding-top: 3.5em;
}

.page {
    margin: 0 auto;
    padding-top: 5em;
    max-width: 1024px;
    transition: 500ms;
}

.page__text {
    margin: 0;
    padding: 20px;
    color: var(--secondary-text-color)
}

.page__button {
    margin-left: 0.7em;
}

.page__snippet {
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.snippet {
    box-shadow: 5px 5px 10px grey;
}

.snippet__header {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--default-primary-color);
}

.snippet__title {
    margin: 0;
    overflow: hidden;    
    font-size: 1.3em;
    color: var(--text-primary-color);
}

.snippet__title::before {
    font-family: FontAwesome;
    content: "\f121";
    margin-right: 0.5em;
}

.snippet__button {
    flex: 0 0 auto;
}

.snippet__body {
    display: none;
    height: 0;
    transition: height 500ms ease-in-out;
}

.snippet__code {
    margin: 0;
    padding: 2em;
    padding-left: 3em;
    font-family: Courier New, Courier, monospace;
    font-size: 0.8em;
    color: var(--secondary-text-color);
}

.is-visible {
    display: block;
    height: auto;
    overflow: auto;
    background-color: var(--text-primary-color);    
}

.button {
    border: none;
    box-sizing: border-box;
    padding: 0;
    background-color: var(--text-primary-color);
    font-family: var(--font-main);
    font-weight: bold;
    color: var(--default-primary-color);
    user-select: none;
    transition: 500ms;    
}

.button:hover {
    cursor: pointer;
}

.button:active {
    opacity: 0.5;
}

.button_collapse {
    height: 1.3em;
    width: 1.3em;
    line-height: 1.3em;
    border-radius: 100%;
    font-size: 1.1em;
}

.button_collapse::before {
    font-family: FontAwesome;
    content: "\f066";
}

.button_collapse:hover {
    transform: rotate(180deg);
}

.button_more {
    padding: 0.2em 0.6em;
    border-radius: 0.3em;
    color: var(--accent-color);
}


@media only screen and (min-width: 700px) {
    .header__title {
        font-size: 3em;
    }

    .page {
        padding-top: 7em;
    }

}